---
interface Props {
    hoverColor: string;
    ruta: string;
}

const { hoverColor, ruta } = Astro.props;
---

<a 
    href={ruta} 
    download 
    class="text-text4 dark:text-textDark2 relative transition z-50 sm:before:hidden sm:before:text-white sm:before:px-3 sm:before:py-2 sm:before:rounded-lg sm:before:text-xs sm:before:font-DmSans sm:hover:before:block sm:before:absolute sm:before:content-['Descargar_CV'] sm:before:-bottom-12 sm:before:-left-2 sm:before:min-w-max sm:before:bg-[#242424]">
    <svg
        class={`hover:${hoverColor} transition-colors p-1`}
        width='44'
        height='44'
        viewBox='0 0 24 24'
        stroke-width='1'
        stroke='currentColor'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
            d='M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z'
        ></path>
        <path d='M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2'></path>
    </svg>
</a>
