---
interface Props {
    hoverColor: string;
    ruta: string;
}

const { hoverColor, ruta } = Astro.props;
---
<a href={ruta} target="_blank" 
class="text-text4 dark:text-textDark2 relative transition z-50 sm:before:hidden sm:before:text-white sm:before:px-3 sm:before:py-2 sm:before:rounded-lg sm:before:text-xs sm:before:font-DmSans sm:hover:before:block sm:before:absolute sm:before:content-['Instagram'] sm:before:-bottom-12 sm:before:-left-2 sm:before:min-w-max sm:before:bg-[#242424]">
    <svg
        class={`hover:${hoverColor} transition-colors p-1`}
        width='44'
        height='44'
        viewBox='0 0 24 24'
        stroke-width='1'
        stroke='currentColor'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M12 16a4 4 0 100-8 4 4 0 000 8z'
            stroke-linecap='round'
            stroke-linejoin='round'></path><path
            d='M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z'
        ></path><path
            d='M17.5 6.51l.01-.011'
            stroke-linecap='round'
            stroke-linejoin='round'></path>
    </svg>
</a>
