@font-face {
    font-family: "Clash";
    src: url("../fonts/ClashDisplay-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Clash";
    src: url("../fonts/ClashDisplay-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "ClashVariable";
    src: url("../fonts/ClashDisplay-Variable.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "DMSans";
    src: url("../fonts/DMSans-Medium.ttf") format("opentype");
    font-weight: 500;
}