---
import EnlaceAnimadoTexto from "../EnlaceAnimadoTexto.astro";
import FondoDecoracion from "./FondoDecoracion.astro";
---



<section
    class='relative rounded-3xl lg:grid lg:grid-cols-10 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:items-center '
>
    <FondoDecoracion />
    <div
        class='pt-20 pb-28 mx-auto space-y-6 md:py-16 sm:max-w-3xl lg:col-span-7 lg:col-start-4 lg:max-w-none relative'
    >
        <h2
            class='dark:text-textDark text-text text-4xl font-bold tracking-tighter sm:text-5xl'
            id='about-heading'
        >
            Hola soy Erick Salazar, Desarrollador Web Full Stack.
        </h2>
        <p class='text-lg text-text2 dark:text-textDark2 md:text-primary-100'>
            Experiencia en la creación de interfaces de usuario. Poseo
            habilidades en JavaScript, ReactJS, CSS y Node. Me gusta utilizar mi
            conocimiento para construir páginas web de alta calidad. Estoy
            entusiasmado por seguir creciendo profesionalmente en el ámbito del
            desarrollo Full-stack
            <br />
            <br />
            Más de un 1 año y medio, me he sumergido en el estudio autodidacta
            del diseño, la maquetación y el desarrollo web en general.
            Aprovechando diversas plataformas en línea, he adquirido
            conocimientos sólidos en estas áreas.
        </p>
        <div class='text-center md:bottom-0 w-full text-3xl text-text2 dark:text-textDark2 absolute'>
            <EnlaceAnimadoTexto download={true} ruta="/ERICK_SALAZAR_CV2" text='Descargar CV' textDecoration={true} background={true}/>
        </div>
    </div>
</section>
