<aside
    class='z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:py-16 lg:bg-transparent'
>
    <div class='px-4 mx-auto max-w-xs sm:px-6 md:max-w-md lg:p-0'>
        <img
            decoding='async'
            loading='lazy'
            class='object-cover object-center w-full max-w-md rounded-3xl shadow-2xl -rotate-3 aspect-[1/1]'
            src='/foto.jpg'
            alt='Image of myself'
        />
    </div>
</aside>