---
import Layout from "../layouts/Layout.astro"
import AboutMe from "../components/About/AboutMe.astro"
import FotoAbout from "../components/About/FotoAbout.astro";
---

<Layout title="Acerca de mí">
    <div class='pt-16 sm:pb-12 md:pb-4 lg:pb-16'>
        <div
            class='mx-auto mt-8 max-w-7xl lg:px-8 lg:bg-transparent bg-contentbackground'
        >
            <div class='lg:grid lg:grid-cols-12'>
                <FotoAbout/>
                <AboutMe/>
            </div>
        </div>
    </div>
</Layout>