---
import Projects from "../components/Projects.astro";
import TitleAnimado from "../components/TitleAnimado.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Proyectos" margen={true}>
    <div class="py-24">
        <header class="text-center pb-5">
            <h4 class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-clashVariable text-text4 dark:text-textDark2 overflow-hidden">
                <TitleAnimado text="Proyectos" Rigth={true}/>
                <span class="text-text3 text-base absolute top-0 font-clash">6</span>
            </h4>
        </header>
        <Projects/>
    </div>
</Layout>