<button
    id="themeToggle"
    class="fixed bottom-5 right-5">
    <svg 
        stroke-width="2.21" 
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg" 
        class="p-2 w-12 h-12 rounded-2xl dark:bg-text2 bg-textDark2 text-text dark:text-textDark dark:stroke-textDark2 stroke-text2 border-x-[1px] border-bMain dark:border-bMainDark"
    >
        <path 
            d="M12 18a6 6 0 100-12 6 6 0 000 12zM22 12h1M12 2V1M12 23v-1M20 20l-1-1M20 4l-1 1M4 20l1-1M4 4l1 1M1 12h1" 
            stroke-width="2.21" 
            stroke-linecap="round" 
            stroke-linejoin="round"
        >
        </path>
    </svg>
</button>

<script>
    import { handleToggleClick } from "../utils/themeManager";


        const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();
    
    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }
    
    window.localStorage.setItem("theme", theme);
        
        document
            .getElementById("themeToggle")
            .addEventListener("click", handleToggleClick);
</script>