---
import EnlaceAnimadoTexto from "./EnlaceAnimadoTexto.astro";

---

<section class="sm:px-4 md:px-6 lg:px-20">
    <p class="font-clash text-lg sm:text-xl md:text-2xl mb-3 text-text dark:text-accent">¿Quiere iniciar un proyecto?</p>

    <div class="font-clashVariable text-6xl md:text-7xl lg:text-8xl text-text4 dark:text-textDark2">
        <EnlaceAnimadoTexto text="Hablemos" textDecoration={false}/>
    </div>
</section>