---
import InconsNav from './IconsNav.astro'
import { navegadores } from '../data/navegadores';
---
<footer class="pt-20 dark:bg-mainDark bg-main1 text-text3">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class='pt-10 pb-16 border-t border-bMain dark:border-bMainDark'>
                <div class='relative px-4 sm:px-8 lg:px-12'>
                    <div class='mx-auto max-w-2xl lg:max-w-5xl'>
                        <div class='flex flex-col gap-2'>
                            <div
                                class='flex flex-col gap-6 justify-between items-center sm:flex-row'
                            >
                                <div
                                    class='flex gap-6 text-sm font-medium '
                                >
                                    <ul class="flex justify-center">
                                        {
                                            navegadores.map(({ title, ruta }) => (
                                                <li >
                                                    <a class="block py-2 px-3 font-semibold tracking-tighter transition hover:text-accent active:text-accent text-text3 dark:text-textDark2 dark:hover:text-accent" href={ruta}>
                                                        {title}
                                                    </a>
                                                </li>
                                            ))
                                        }
                                    </ul>
                                </div>
            
                                <p class='text-sm'>
                                    © 2023 Erick Salazar. Hecho con 💙.
                                </p>
                            </div>
            
                            <div
                                class='flex flex-col gap-2 items-end self-center sm:self-end '
                            >
                                <a
                                    class='mx-auto text-sm sm:mx-0 my-[10px]'
                                    href='mailto:erickjosepsalazar2@gmail.com'
                                    >
                                    erickjosepsalazar2@gmail.com</a
                                >
                                <div class='flex flex-row gap-1'>
                                    <InconsNav/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
