---
import IconsNav from '../components/IconsNav.astro';

const letterHome = "Frontend";
const letterHome2 = "Backend";

---

<div class='min-h-screen flex justify-center items-center font-clash w-full font-medium'>
    <div class='w-full group'>
        <div class="sm:px-4 md:px-6 lg:px-20 lg:mb-4 group-hover:scale-[1.05] group-hover:transition group-hover:duration-[1.5s] transition duration-[1.5s] group-hover:-translate-x-2 group-hover:-translate-y-3">
            <p class='text-accent scale-up-ver-text text-[18px] lg:text-2xl font-medium'>ERICK JOSEP SALAZAR</p>
        </div>
        <div class="overflow-hidden">
            <h1
                class='text-text dark:text-textDark dark:group-hover:text-textDark2 font-clashVariable font-bold text-[clamp(4rem,26vh,16vw)] md:text-[clamp(2rem,20vh,14vw)] lg:text-[140px] leading-[clamp(4rem,26vh,14vw)] lg:leading-[7.4rem] text-center group-hover:scale-[1.02] group-hover:transition group-hover:duration-[1.5s] transition duration-[1.5s]'
            >
                <div class='lg:mb-4'>
                    {
                        letterHome
                            .split("")
                            .map((letter, i) => (
                                <span 
                                    class={`will-change-transform inline-block animate-trackingRight`}
                                    style={{animationDelay: `calc(0.05 * ${i}s)`}}
                                >
                                    {letter}
                                </span>
                            ))
                    }
                </div>
                <div>
                    {
                        letterHome2
                            .split("")
                            .map((letter, i) => (
                                <spa 
                                    class="will-change-transform inline-block animate-trackingLeft"
                                    style={{animationDelay: `calc(0.05 * ${i}s)`}}
                                >
                                    {letter}
                                </span>
                            )
                    )}
                </div>
            </h1>
        </div>
        <div class='text-textDark2 flex pt-6 sm:px-4 md:px-6 lg:px-20 lg:mt-4 justify-between group-hover:scale-[1.05] group-hover:transition group-hover:duration-[1.5s] transition duration-[1.5s] group-hover:translate-x-2 group-hover:translate-y-3 dark:group-hover:text-white'>
            <div class='flex gap-1 overflow-hidden h-12 items-center scale-in-center'>
                <span
                    class='hidden dark:flex flex-col gap-4 w-3 animate-Arrow -translate-y-[30%]'
                >
                    <img src='/arrow.svg' alt='arrow' />
                    <img src='/arrow.svg' alt='arrow' />
                </span>
                <span
                    class='flex dark:hidden flex-col gap-4 w-3 translate-y-[-30%] animate-Arrow'
                >
                    <img src='/arrow-black.svg' alt='arrow-black' />
                    <img src='/arrow-black.svg' alt='arrow-black' />
                </span>
                <p class=' flex flex-col text-sm md:text-base lg:text-lg font-light'>
                    <span>Seguir</span>
                    <span>Deslizando</span>
                </p>
            </div>

            <div class='flex gap-x-2 scale-in-center'>
                <IconsNav/>
            </div>
        </div>
    </div>
</div>
