---
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import CvIcon from "../icons/CvIcon.astro";

---

<ul class='flex gap-2'>
    <li>
        <GitHubIcon 
            hoverColor="stroke-accent"
            ruta="https://github.com/ErickSalazar44"
        />
    </li>
    <li>
        <LinkedinIcon 
            hoverColor="stroke-accent"
            ruta="https://www.linkedin.com/in/erick-josep-salazar-8b8b6024b/"
        />
    </li>
    <li>
        <InstagramIcon 
            hoverColor="stroke-accent"
            ruta="https://www.instagram.com/erickcsalazar22/"
        />
    </li>
    <li>
        <CvIcon 
            hoverColor="stroke-accent" 
            ruta="/ERICK_SALAZAR_CV2.pdf"
        />
    </li>
</ul>
