---
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import CvIcon from "../icons/CvIcon.astro";

---

<ul class='flex gap-2'>
    <li>
        <GitHubIcon 
            strokeColor='#f4f4f5' 
            hoverColor="stroke-accent"
            ruta="/"
        />
    </li>
    <li>
        <LinkedinIcon 
            strokeColor='#f4f4f5' 
            hoverColor="stroke-accent"
            ruta="/"
        />
    </li>
    <li>
        <InstagramIcon 
            strokeColor='#f4f4f5' 
            hoverColor="stroke-accent"
            ruta="/"
        />
    </li>
    <li>
        <CvIcon 
            strokeColor='#f4f4f5' 
            hoverColor="stroke-accent" 
            ruta="/"
        />
    </li>
</ul>
