---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<p class='pb-4 leading-[1.4] opacity-80'>
    {
        text.split(" ").map((text) => (
            <span class='letterAnimate inline-block overflow-hidden align-top'>
                {text}
                {text !== " " && <span class='inline-block w-2' />}
            </span>
        ))
    }
</p>
