---
interface Props {
    text: string
    Rigth: boolean
}

const {text, Rigth} = Astro.props
---
{
    text
        .split("")
        .map((letter, i) => (
            <span 
                class={`will-change-transform inline-block ${Rigth ? 'animate-trackingRight' : 'animate-trackingLeft'}`}
                style={{animationDelay: `calc(0.05 * ${i}s)`}}
            >
                {letter}
            </span>
        ))
}