---
import { ViewTransitions } from "astro:transitions";
import { bgPrincipal } from "../UI/fondoBg";
import Navbar from "../components/shared/Navbar.tsx";
import Contact from "../components/shared/Contact.astro";
import Footer from "../components/shared/Footer.astro";
import ButtonDarkMode from "../components/ButtonDarkMode.astro";

interface Props {
    title: string;
    margen?: boolean;
}

const { title, margen = true } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang='en' class='dark'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='Explora mi portafolio web para descubrir un desarrollador Full-stack con más de un año y medio de experiencia en la creación de interfaces de usuario excepcionales. Mis habilidades incluyen JavaScript, ReactJS, CSS y Node, y estoy comprometido con la construcción de páginas web de alta calidad. A lo largo de mi viaje autodidacta, he adquirido conocimientos sólidos en diseño, maquetación y desarrollo web. ¡Descubre mis proyectos y habilidades en mi portafolio!' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <link rel='stylesheet' href='/fonts/fonts.css' />
        <ViewTransitions />
    </head>
    <body
        class='bg-mainBg dark:bg-mainBgDark sm:px-8 text-primary-100 selection:bg-accent selection:text-textDark'
    >
        <div
            class='h-screen w-screen -z-10 fixed top-0 right-0'
            style={bgPrincipal}
        >
        </div>
        <div
            class='mx-auto max-w-6xl min-h-full border-x-[1px] border-bMain dark:border-bMainDark'
        >
            <Navbar client:load path={pathname} />
            <main
                class={`${
                    margen ? "px-[22px] sm:px-6 lg:px-8" : "px-0"
                } dark:bg-mainDark bg-main1`}
            >
                <slot />
                <Contact />
            </main>
            <Footer />
            <ButtonDarkMode />
        </div>

        <style is:global>
            :root {
                --main-bg: #fafafad5;
                --main-bg-1: #0a0a09;
                --gradient-1: rgba(255, 255, 255, 0);
                --gradient-2: #fafafad5;
                --gradient-3-start: #757de8;
                --gradient-3-end: #0085ff;
            }

            .dark {
                --main-bg: #000;
                --gradient-1: rgba(0, 0, 0, 0);
                --gradient-2: rgba(0, 0, 0, 0.74);
                --gradient-3-start: #acc2ef;
                --gradient-3-end: #71c4ef;
            }
            .ayudaVisual {
                position: relative;
                transition:
                    opacity 0.3s,
                    visibility 0.3s;
                z-index: 5000;
            }
            .ayudaVisual:before {
                opacity: 0;
                color: white;
                padding: 9px 9px 7px 9px;
                background: #d4d4d4;
                border-radius: 4px;
                line-height: 1;
                box-shadow:
                    rgba(0, 0, 0, 0.25) 0px 14px 28px,
                    rgba(0, 0, 0, 0.22) 0px 10px 10px;
                transition:
                    opacity 0.3s,
                    visibility 0.3s;
                font-size: 14px;
                font-weight: 600;
                position: absolute;
                visibility: hidden;
                text-wrap: nowrap;
                z-index: 100;
            }
            .context:hover::before {
                visibility: visible;
                opacity: 1;
            }
            .context-top:before {
                content: attr(data-content);
            }
            .context-top2:before {
                content: attr(data-content2);
            }
        </style>

        <script>
            import { initializeTheme } from "../utils/themeManager";

            // Inicializa el tema al cargar la página
            initializeTheme();

            // Se ejecuta en la navegación de view transitions
            document.addEventListener("astro:after-swap", initializeTheme);
        </script>
    </body>
</html>
